
nord0 = #2e3440;


nord1 = #3b4252;


nord2 = #434c5e;


$primary   = #ECF0F5
$secondary = #3C8DBC
$tertiary  = #7AA8D0

$neutral   = #FFFFFF //background for tables
$positive  = #008D4C
$negative  = #DD4B39
$info      = #31CCEC
$warning   = #F2C037

$drawer          = #1E282C
$drawer_hover    = #2C3B41
$drawer_dropdown = #2C3B41

$checkout = #B61751
$checkit  = #514E8E

// $body-background	= #ECF0F5
// $body-color = #1E282C
// $table-hover-background	= #7AA8D0
// $item-highlight-color	= #D2D6DE
// $item-selected-color	= #ECF0F5